body {
    background-color: #FFF;
    margin: 0;
    padding: 0px 60px;
}

h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.welcome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    position: fixed;
    left: 0;
    top: 80px;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.button {
    border: 1px solid #466995;
    display: inline-block;
    height: 100px;
    margin: 20px;
    padding-top: 40px;
    width: 220px;
}

.button:hover {
    background: #C0D6DF;
    color: #FFF;
}